<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Your E-Commerce Store</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>
    <header class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand text-light" href="#">E-Cart</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <input class="form-control mr-sm-2 ml-auto col-md-4" type="search" placeholder="Search Product"
                aria-label="Search">
            <button class="btn btn-light" type="submit">Search</button>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link text-light" href="#">Cart</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="#">Wishlist</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="#">Account</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="/logout">Logout</a></li>
            </ul>
        </div>
    </header>

    <div class="container mt-5 mb-5 pb-5">
        <div class="row">
            <div class="col-md-4">
                <img src="/static/<%= product.image %>" alt="<%= product.productname %>" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h1><%= product.productname %></h1>
                <p>Price: ₹ <%= product.price %></p>
                <p><%= product.description %></p>
                <p>Rating: <%= product.rating %></p>
                <div class="row ml-1">
                    <button class="btn btn-primary">Add to Cart</button>
                    <button class="btn btn-warning ml-2 text-light">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
    

    <%- include('footer') %>


    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>